.social-login 
    button.social-login--github
        span 
            <i class="fab fa-github-square">Continue with Github</i>
    button.social-login--facebook
        span
            <i class="fab fa-facebook-square">Continue with Facebook</i>