extends layouts/main.pug
block content
    .form-container 
        form(action="" method="post")
            input(type="password" placeholder="current password" name="current password") 
            input(type="password" placeholder="new password" name="new password") 
            input(type="password" placeholder="Verify New password" name="Verify New password") 
            input(type="button", value="Change Password")
            